<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <h2 class="display-4 text-white">SFU Restaurant Finder</h2>
    <a class="btn btn-lg bg-danger" href="#">Login</a>
  </div>
</nav>
