<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NavBar</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/siteNav.css">
</head>
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <!-- Collapsible content -->


    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-brand" href="/restaurants">SFU Restaurant Finder</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-3">
                <!-- <a class="nav-link" href="/admin"><strong>Edit</strong></a> -->
              <form action="/admin" method="GET">
                <button type="submit" class="nav-btn"><strong>Edit</strong></button>
              </form>
            </li>
        <% if (user_id == null) { %>
            <li class="nav-item ml-3">
              <form action="/login" method="GET">
                <button type="submit" class="nav-btn"><strong>Login</strong></button>
              </form>
            </li>
            <li class="nav-item ml-3"></li>
              <form action="/register" method="GET">
                <button type="submit" class="nav-btn-register"><strong>Register</strong></button>
              </form>
            </li>
        <% } else { %>
            <li class="nav-item ml-3">
              <form action="/logout" method="POST">
                <button type="submit" class="nav-btn"><strong>Logout</strong></button>
              </form>
            </li>
        <% } %>
        </ul>
    </div>
</nav>

