<footer class="footer">
    <div class="container">
        <br>
        <h2 class="text-light">SFU Restaurant Finder</h2>
        <hr/>
        <div class="row">
            <div class="col">
                <a class="text-light" href="#">About</a><br>
                <a class="text-light" href="#">Help</a><br>
                <a class="text-light" href="#">FAQ</a><br>
            </div>
            <div class="col">
                <a class="text-light" href="#">Become an Admin</a>
            </div>
        </div>
        <hr/>
        
    </div>
</footer>