body{
  background-color:#f2f2f7 !important;
}

.checked {
    color: orange;
}

.stars {
    margin-left: 10px;
    margin-bottom: 10px;
}

.rate-star::before{
    cursor: pointer;
}

.rate-star:hover::before{
    /* the :hover should come first */
    color: #bada55;
}

.commentDate {
    font-size: 12px;
}


.card {
  background-color:#f2f2f7 !important;
}

.review-container {
  background-color:#f2f2f7 !important;
}

.h5{
  font-weight: 750 !important;
}

hr {
  background-color: #8e8e93;
  border: none;
  border-top: 0.05em solid #8e8e93;
}

iframe {
  height:17em;
  width:22.5em;
}