body{
  background-color:#f2f2f7 !important;
  font-family: 'Lato', sans-serif !important;
}

.open-status{
  font-weight:750;
  font-size:1.25em;
}


.btn-map{
  height:2.25em;
  width:12em;
  border: none;
  border-radius: 1em;
  background-color: #b30000;
  border: 0.115em solid white;
  color: white;
}

.btn-map-closed{
  height:2.25em;
  width:12em;
  border: none;
  border-radius: 1em;
  background-color: #8e8e93;
  border: 0.115em solid white;
  color: white;
}

.status-card{
  height:3em;
}

.card-title{
  font-weight:750;
  color:black;
}

.card-title:hover{
  text-decoration: none;
}

.card-img {
  border-radius: 0;
}

.card-img-closed {
  filter: grayscale(85%);
}

.ind-1 {
  margin-left: 25px;
}

.ind-2 {
  margin-left: 15px;
}

.select-box {
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  margin-top: 5px;
  background-color: #b8b8b3;
  padding: 5px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.select-box:hover{
  cursor: pointer;
  background-color: #28a745;
}

.checked:hover {
  background-color: #3366cc;
}

.checked {
  background-color: #3366cc;
}

.conf-button {
  background-color: #3366cc;
  border-color: #3366cc;
  width: 100%;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}